@use './variables';

@mixin button {
    background-color: variables.$color-primary;
    border: 2px solid variables.$color-black;
    box-shadow: 4px 4px 0 variables.$color-black;
    color: variables.$color-black;
    display: block;
    font-size: 1.25rem;
    padding: .75rem 1rem;
    max-width: 14rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

@mixin arrow-curve {
    content: '';
    background-image: url(../img/arrow-curve.svg);
    position: absolute;
    top: 5rem;
    right: -4rem;
    height: 48px;
    width: 132px;
}

@mixin decoration {
    content: '';
    background: url(../img/three-dashes.svg);
    position: absolute;
    top: -0.75rem;
    height: 36px;
    width: 40px;
}